.dm-experience--container{
  margin: 1em 0;
  padding: 1em;
  border-radius: 4px;
}

.dm-experience--container-past{
  background-color: #CFD8DC;
  margin: 1em 0;
  padding: 1em;
  border-radius: 4px;
}

.dm-experience--label{
  border-radius: 4px;
  border: 1px solid #c9c9c9;
  background-color: white;
  padding: 0.3em;
  opacity: 0.7;
  color: #5f5346;
}

.dm-experience--section{
  padding-bottom: 1em;
}

.dm-experience--graph{
  display: flex
}

@mixin dm-experience--elt(){
  border: 2px solid white;
  padding: 0 1em 1em 1em;
  color: white;
  font-weight: bold;
  a{
    text-decoration: none;
  }
}

.dm-experience--step{
  text-align: center;
}

.dm-experience--date{
  position:relative;
  top: -1.2em;
  left:-2em;
}

.dm-experience--before{
  @include dm-experience--elt;
  border-left: none;
}
.dm-experience--after{
  @include dm-experience--elt;
  border-right: none;
}
.dm-experience--solutec{
  @include dm-experience--elt;
  flex: 2;
}
.dm-experience--casino{
  @include dm-experience--elt;
  flex:6;
}
.dm-experience--iorga{
  @include dm-experience--elt;
  flex:1;
}
.dm-experience--boiron{
  @include dm-experience--elt;
  flex:4;
}
.dm-experience--devmind{
  @include dm-experience--elt;
  flex:3;
}