
.dm_experience__label{
  border-radius: 4px;
  border: 1px solid #c9c9c9;
  background-color: white;
  padding: 0.3em;
  opacity: 0.7;
  color: #5f5346;
}

.dm_experience__section{
  padding-bottom: 1em;
}