<div class="dm-block--blog">
  <devmind-section>
    <form action="/login{{#extended}}/create{{/extended}}" method="post"
          onsubmit="return true && this.form.email.value">
      <fieldset style="text-align: justify">
        <small>
          Your account is created on our website but you are not allowed to access to this page. If you want to use this website area you need to send a request to our admin
          (guillaume@dev-mind.fr) and explain why you want to open this page.

          When your access will be granted, you will be able to access to this page.
        </small>

         <a href="/" class="btn" style="margin:0.5em">
            Go back home
          </a>
          <div style="flex-grow: 1">&nbsp;</div>
        </div>
      </fieldset>
    </form>
  </devmind-section>
</div>
