<div class="dm-block--blog">
  <devmind-section>
    <table style="width: 100%; border: 1px;">
      <thead>
      <tr>
        <th width="80%">Url</th>
        <th width="20%">Count</th>
      </tr>
      </thead>
      <tbody>
      {{#stats}}
        <tr>
          <td>{{url}}</td>
          <td>{{count}}</td>
        </tr>
      {{/stats}}
      </tbody>
    </table>
  </devmind-section>
</div>
