<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{{#keywords}}{{keywords}}{{/keywords}}">
<meta name="description" content="{{ description }}">

<link rel="canonical" href="https://www.dev-mind.fr/blog/{{dir}}/{{filename}}.html">

<title>{{ title }}</title>

<meta property="og:title" content="{{ title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.dev-mind.fr/blog/{{dir}}/{{filename}}.html">
<meta property="og:description" content="{{ description }}">

<link rel="icon" href="../../favicon.ico" type="image/x-icon">

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">

<!-- Web Application Manifest -->
<link rel="manifest" href="../../manifest.json">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Dev-Mind">
<link rel="icon" sizes="192x192" href="../../img/touch/chrome-touch-icon.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Dev-Mind">
<link rel="apple-touch-icon" href="../../img/touch/apple-touch-icon.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="../../img/touch/ms-touch-icon.png">
<meta name="msapplication-TileColor" content="#2196f3">

<!-- Color the status bar on mobile devices -->
<meta name="theme-color" content="#2196f3">

<style>
    body {
        min-height: 100vh;
        max-height: 100vh;
        font-family: "Helvetica", "Arial", "sans-serif";
        padding: 0;
        margin: 0; }

    header {
        min-height: 64px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
        background-color: #186fc6;
        display: -webkit-flex;
        display: flex;
        box-sizing: border-box;
        z-index: 99;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: max-height, box-shadow; }

    main {
        height: calc(100vh - 64px);
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #2196f3; }

    img {
        max-width: 100%;
        height: auto;
    }
    * {
        box-sizing: border-box; /* pour maîtriser width et flex-basis */
    }
    devmind-home-me, devmind-sky, devmind-mountain, devmind-hills, devmind-ground, devmind-header {
        display: block;
        margin: 0 auto;
        max-width: 1600px;
        padding: 80px 40px; }
    @media (max-width: 700px) {
        devmind-home-me, devmind-sky, devmind-mountain, devmind-hills, devmind-ground, devmind-header {
            padding: 25px 10px; } }
    @media (min-width: 701px) and (max-width: 900px) {
        devmind-home-me, devmind-sky, devmind-mountain, devmind-hills, devmind-ground,devmind-header {
            padding: 40px 25px; } }
    .dm-social {
        min-width: 2em;
        max-width: 2em;
        width: 2em;
        height: 2em; }
    nav {
        display: -webkit-flex;
        display: flex; }
    @media screen and (min-width: 901px) {
        nav {
            padding-left: 1em; } }
    nav a {
        padding: 0 12px;
        color: rgba(255, 255, 255, 0.6);
        line-height: 64px;
        height: 60px;
        border-bottom: 4px solid #186fc6;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 13px; }
    @media screen and (min-width: 901px) {
        nav a {
            padding: 0 24px; } }
    nav a:hover {
        background-color: #424242; }
    nav .is-active {
        border-bottom: 4px solid white;
        color: white; }
    nav a > img {
        padding-top: 16px; }
</style>