<script async defer src="https://cdn.polyfill.io/v2/polyfill.min.js" crossorigin="anonymous"></script>
<script async defer src="js/loadCSS.js"></script>
<script async defer src="js/cssrelpreload.js"></script>
<script async defer src="js/main.js"></script>
<script async defer src="../../js/dmanalytics.js"></script>