<header>
    <div class="header-img">
        <a href="{{ baseuri }}index.html" alt="Accueil" onclick="app.changeMenu('#home')">
            <img src="{{ baseuri }}img/logo/logo_long.svg" alt="Dev-Mind" title="Dev-Mind">
        </a>
    </div>
    <nav>
        <a href="{{ baseuri }}index.html" class="nav-home" alt="Accueil" id="#home" onclick="app.changeMenu('#home')">
            <img src="{{ baseuri }}img/ic_home_white_24px.svg" rel="start" alt="Accueil"></a>
        <a href="{{ baseuri }}formations.html" alt="Formations" id="#formation" onclick="app.changeMenu('#formation')">
            Formations</a>
        <a href="{{ baseuri }}blog.html" alt="Blog" id="#blog" onclick="app.changeMenu('#blog')">Blog</a>
        <a href="{{ baseuri }}experience.html" alt="Experience"id="#experience" onclick="app.changeMenu('#experience')">
            Exp&eacute;rience</a>
        <a href="{{ baseuri }}training/trainings.html" alt="Espace étudiant" id="#training" onclick="app.changeMenu('#training')">
            &eacute;tudiant</a>
    </nav>
    <hr>
</header>
<div class="header-space"></div>
