<header class="header-wrapper">
    <nav>
        <a href="/index.html" class="mdl-layout__tab" alt="Accueil"
           id="#home" onclick="app.changeMenu('#home')"><img src="/img/ic_home_white_24px.svg" rel="start" alt="Accueil"></a>
        <a href="/blog.html" class="mdl-layout__tab" alt="Blog"
           id="#blog" onclick="app.changeMenu('#blog')">Blog</a>
        <a href="/index.html#formation" class="mdl-layout__tab"
           id="#formation" onclick="app.changeMenu('#formation')">Formations</a>
        <a href="/experience.html" class="mdl-layout__tab is-large-screen" alt="Experience"
           id="#experience" onclick="app.changeMenu('#experience')">Expérience</a>
        <a href="/index.html#contact" class="mdl-layout__tab" alt="Contact"
           id="#contact" onclick="app.changeMenu('#contact')">Contact</a>
    </nav>
</header>