<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="../../css/main.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="../../css/blog.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="../../css/bloglist.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="../../js/main.js" as="script">
    <link rel="preload" href="../../js/blog.js" as="script">
    {{> _html_header}}
</head>
<body class="dev-mind">
{{> _page_header}}
<main>
    <div class="dm_head" id="home">
        <devmind-header>
            <p class="dm_logo"><img src="../../img/logo/logo_long.svg" alt="Dev-Mind" title="Dev-Mind"></p>
        </devmind-header>
    </div>

    <div id="dm_transition_cloud"></div>

    <div class="dm_home_blog" id="blog">
        <devmind-article>
            <article>
                <h1 class="dm-blog--info-title">{{ title }}</h1>
                <div class="dm-blog--info-date"><small><b>{{ revdate }}</b></small> <small id="nbview"></small></div>
                <div id="blog-keywords" class="blog-keywords">
                    {{#keywords}}
                        <span class="dm-blog--keyword-detail"><small>{{keywords}}</small></span>&nbsp;
                    {{/keywords}}
                </div>
                <div class="swp-blog--content">
                {{{ contents }}}
                </div>
            </article>
        </devmind-article>
    </div>

    <div id="dm_transition_mountain"></div>

    <div class="dm_home_formation" id="formation">
        <devmind-header>
            <div class="dm-blog--button">
                <p>Partagez cet article</p>
                <button onclick="blog.sendSocial('twitter', 'https://www.dev-mind.fr/blog/{{dir}}/{{filename}}.html', '{{ title }}')"><img src="../../img/contact/twitter.svg" alt="Twitter" class="dm-social"></button>
                <button onclick="blog.sendSocial('google+', 'https://www.dev-mind.fr/blog/{{dir}}/{{filename}}.html', '{{ title }}')"><img src="../../img/contact/googlep.svg" alt="Github" class="dm-social"></button>
                <button onclick="blog.sendSocial('facebook', 'https://www.dev-mind.fr/blog/{{dir}}/{{filename}}.html', '{{ title }}')"><img src="../../img/contact/facebook.svg" alt="Facebook" class="dm-social"></button>
                <button onclick="blog.sendSocial('linkedin', 'https://www.dev-mind.fr/blog/{{dir}}/{{filename}}.html', '{{ title }}')"><img src="../../img/contact/linkedin.svg" alt="Linkedin" class="dm-social"></button>
                <br>
                <div id="previous-blogpost"></div>
                <div class="dm-blog-comment--add">
                    <h2>Commentaires</h2>
                    <div id="comments"></div>
                    <article>
                        <h3><a href="#" onclick="blog.displayCommentForm()">Ajouter un commentaire</a></h3></label>
                        <form name="comment" id="commentFrm" style="display: none">
                            <textarea class="dm-blog-comment--control" required name="comment" rows="6" onchange="blog.onFormCommentChange()"></textarea>
                            <label for="name"><b>Prénom</b></label>
                            <input class="dm-blog-comment--control" required id="name" name="name" type="text" onchange="blog.onFormCommentChange()">
                            <label for="mail">Mail</label>
                            <input class="dm-blog-comment--control" id="mail" name="mail" type="email" placeholder="identifiant@fournisseur.com" pattern=".+@.+.com" onchange="blog.onFormCommentChange()">
                            <small>Le mail n'est jamais affiché et me sert uniquement à vous contacter pour répondre à vos questions</small>
                            <br>
                            <button type="button" onclick="blog.saveComment('{{filename}}')" id="saveComments" style="margin-top: 1em" disabled="true">Envoyer</button>
                        </form>
                    </article>
                </div>
            </div>
        </devmind-header>
    </div>
    {{> _page_footer}}
</main>
<script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-database.js"></script>
<script src="../../js/blog.js">blog=true;dev={{modedev}}</script>
<script>
    window.addEventListener("load", function(){
        blog.findPreviousBlogpost('{{filename}}');
        blog.findComments('{{filename}}');
    });
</script>
</body>
</html>
