<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="css/main.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="img/animation/cloud/cloud3.png" as="image">
    <link rel="preload" href="img/animation/cloud/cloud2.png" as="image">
    <link rel="preload" href="css/bloglist.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="js/main.js" as="script">
    {{> _html_header}}
</head>
<body class="dev-mind">
{{> _page_header}}
<main>
    {{> _blog_intro}}
    <div class="dm_sky" id="blog">
        <devmind-section>
            {{#articleByYears}}
                <h1 class="center">Articles {{key}}</h1><br>
                <div class="dm-blog--container">
                    <div class="dm-blog--container-article">
                        {{#value}}
                            <article class="dm-blog--article-archive" onclick="document.location.href='blog/{{dir}}/{{filename}}.html'">
                                <h2><a href="blog/{{dir}}/{{filename}}.html">{{doctitle}}</a></h2>
                                <p style="padding: 0;margin: 0"><small>{{date}}</small></p>
                                <div class="dm-blog--imgteaser"><img class="dm-img--lazyload" data-src="{{{imgteaser}}}"/></div>
                                <p class="dm-blog--teaser">{{teaser}}</p>
                                <p style="padding: 0;margin: 0"><small>{{keywords}}</small></p>
                            </article>
                        {{/value}}
                    </div>
                </div>
            {{/articleByYears}}

            <div class="dm-blog--button">
                <button onclick="document.location.href='rss/blog.xml'">Flux RSS</button>
            </div>
    </devmind-section>
    </div>
    {{> _page_footer}}
</main>
{{> _html_footer}}
</body>
</html>
