<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="css/main.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="img/animation/cloud/cloud3.png" as="image">
    <link rel="preload" href="img/animation/cloud/cloud2.png" as="image">
    <link rel="preload" href="js/main.js" as="script">
    {{> _html_header}}
</head>
<body class="dev-mind">
    {{> _page_header}}
    <main>
        {{{ contents }}}
        {{> _page_footer}}
    </main>
    {{> _html_footer}}
</body>
</html>
