<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="preload" href="../css/bloglist.css" as="style" onload="this.rel='stylesheet'">
    {{> _html_header baseuri='../'}}
</head>
<body class="dev-mind">
{{> _page_header baseuri='../'}}
<main>
    <div class="dm-block--blog">
        <devmind-section>
            TODO
        </devmind-section>
    </div>
    {{> _page_footer baseuri='../'}}
</main>
{{> _html_footer baseuri='../'}}
</body>
</html>
