<div class="dm-block--blog">
  <devmind-section>

    An error occured during your last action :
    <code>
    {{error}}
    </code>

    <br>
    <a href="/" class="btn">
      Go to home
    </a>

  </devmind-section>
</div>
