@import "common";

.dm-blog--container{
  display: flex;
  @media (max-width: $max_width_mobile) {
    display: block;
  }
}
.dm-blog--container-article{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: $max_width_mobile) {
    flex-direction: column;
    flex-basis: auto;
  }
}
.dm-blog--container-left{
  flex: 2 1 0;
}

.dm-blog--article{
  background-color: white;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;
  flex: 0 1 49%;
  display: flex;
  flex-direction: column;
  @include dm_box__shadow;
  cursor: pointer;

  > h1 {
    font-size: $h3_screen_fontsize;
    line-height: ($h3_screen_fontsize+2);
  }
  > h2 {
    font-size: $text_head_screen;
    line-height: ($text_head_screen+2);
  }
  @media (max-width: $max_width_mobile) {
    flex: 0 1 auto;
    padding: 0.5em;
    margin: 0.3em 0;
    min-height: 5em;
    > h1 {
      font-size: $text_head_mobile;
      line-height: ($text_head_mobile+2);
    }
    > h2 {
      font-size: $text_head_mobile;
      line-height: ($text_head_mobile+2);
    }
  }
}
.dm-blog--article-archive {
  @extend .dm-blog--article;
  flex: 0 1 33%;
  @media (max-width: $max_width_mobile) {
    flex: 0 1 auto;
  }
  @media (min-width: $min_width_tablet) and (max-width: $max_width_tablet){
    flex: 0 1 49%;
  }
}
.dm-blog--article-head{
  @extend .dm-blog--article;
  flex: 1 2 auto;
  .dm-blog--imgteaser{
    order: 0;
  }
}
.dm-blog--article-head-load{
  width: 100%;
  text-align: center;
  max-height: 400px;
}
.dm-blog--keyword-detail{
  border-radius: 4px;
  padding: 0.2em;
  background-color: white;
}
.dm-blog--info-date{
  padding-bottom: 0.3em;
}
.dm-blog--imgteaser{
  margin-top: 0.5em;
  text-align: center;
  order: -1;
  @media (max-width: $max_width_mobile) {
    order: 0;
  }
  img{
    width: 100%;
    height: auto;
  }
}

.dm-blog--teaser{
  text-align: justify;
}

.dm-blog--head {
  margin-bottom: 0;
  @media (max-width: $max_width_mobile) {
    min-height: auto;
    max-height: 100%;
    height: auto;
  }
};