@import "atom-light";
@import "../common";

article {
  padding: 1em;
}

devmind-article {
  @include dm_container_closest();
}

.imageblock, .videoblock{
  text-align: center;
}
.cesar-intro__video-container{
  width: 80%;
  margin:0 auto;
}

.cesar-intro__video-content{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dm-blog--previous{
  padding: 2em;
}

//.dm_home_blog_white{
//  @include dm_home_row(#E3F2FD, #303e5e);
//
//  @include dm_home_link(#1976D2);
//}
//
//#dm_transition_cloud_white{
//  @include  dm_transition(#2196f3, 60px);
//  height: 3em;
//  background: url('../img/animation/cloud/cloud4.png') top space, url('../img/animation/cloud/cloud5.png') center space;
//  background-position: -3em 0em;
//}
//
//#dm_transition_mountain_white{
//  @include  dm_transition(#E3F2FD, 60px);
//  height: 7em;
//  background: url('../img/animation/mountain/mountain2.png') top space, url('../img/animation/mountain/mountain1.png') center space;
//  background-color:#E3F2FD;
//  background-position: -3em 2em;
//}