<footer>
    <div class="dm_footer">
        <div class="is-small-screen">
            <p id="footer-dm_society">
                SARL au capital de <i>5000€</i><br>
                SIREN : 808 720 759, au RCS de Saint-Etienne<br>
                All right reserved - &copy;2024 Guillaume EHRET
            </p>
        </div>
        <div class="is-large-screen">
            <div class="dm_footer__middle">
                <div class="dm_society">
                    Dev-Mind
                </div>
                <div>SARL au capital de <i>5000€</i></div>
                <div>SIREN : 808 720 759, au RCS de Saint-Etienne</div>
                <div><small title="{{ genInstant }}">Mise à jour le {{ gendate }}</small></div>
            </div>

            <div class="dm_footer__right">
                All right reserved - &copy;2024 Guillaume EHRET
            </div>
        </div>
    </div>
</footer>
