<!DOCTYPE html>
<html lang="fr">
<head>
    {{> _html_header}}
</head>
<body class="dev-mind">
    {{> _page_header}}
    <main>
        {{{ contents }}}
        {{> _page_footer}}
    </main>
    {{> _html_footer}}
</body>
</html>
