<div class="dm_head" id="home">
    <devmind-header>
        <p class="dm_logo"><img src="../../img/logo/logo_long.svg" alt="Dev-Mind" title="Dev-Mind"></p>

        <div align="center">
            Mon blog initial <a href="http://javamind-fr.blogspot.fr/">JavaMind</a> est maintenant directement intégré au site Dev-Mind.
            Le but est toujours le même : écrire et partager des articles sur différents sujets qui me passionnent : le
            développement (Java, Web, ...) et différents sujets liés aux méthodes agiles.
        </div>
    </devmind-header>
</div>

<div id="dm_transition_cloud"></div>

<div class="dm_home_blog" id="blog">
    <devmind-home-blog>
        <div class="dm-blog--container">
            <div class="dm-blog--container-article" id="last-article"></div>
            <div class="dm-blog--container-right">
                <div id="last-articles"></div>

                <div>
                    <h3>Suivre Dev-Mind</h3>
                    <p>
                        <a href="https://twitter.com/guillaumeehret" target="_blank" rel="noopener">
                            <img src="img/contact/twitter.svg" alt="Twitter" class="dm-social">
                        </a>
                        <a href="https://github.com/javamind" target="_blank" rel="noopener">
                            <img src="img/contact/github.svg" alt="Github" class="dm-social">
                        </a>
                        <a href="https://plus.google.com/+GuillaumeEhret" target="_blank" rel="noopener">
                            <img src="img/contact/googlep.svg" alt="Google+" class="dm-social">
                        </a>
                    </p>

                    <h3>Formations</h3>
                    <p>
                        Dev-Mind propose plusieurs <a href="index.html#formation">formations</a>. Contactez moi pour
                        plus d'informations. Par exemple
                    </p>
                    <div class="dm_formation__detail"
                         onclick="document.location.href='formation_optimiser.html'">
                        <h3><a href="formation_optimiser.html">Optimiser une application web</a></h3>
                        <p><b>Durée</b> : 1 journée</p>
                        <p>Le but de cette formation est d'aborder les différentes mécaniques pour améliorer les
                            performances de votre site web (HTTP2, service workers, asynchrone...).
                            Vous apprendrez comment optimiser le loadtime, le firstload... <a
                                    href="formation_optimiser.html">en savoir plus...</a></p>
                        <picture alt="Reprendre les bases">
                            <source srcset="img/formation/formation_back_500.webp" type="image/webp"/>
                            <source srcset="img/formation/formation_back_500.png"/>
                            <img src="img/formation/formation_back_500.png" alt="Reprendre les bases">
                        </picture>
                    </div>
                </div>

            </div>
        </div>

        <div class="dm-blog--button">
            <button onclick="blog.findMoreBlogpost()" id="more-article">Plus d'articles...</button>
            <button onclick="document.location.href='rss/blog.xml'">Flux RSS</button>
        </div>
    </devmind-home-blog>
</div>

<div id="dm_transition_mountain"></div>

<div class="dm_home_formation" id="formation">
    &nbsp;
</div>