<div class="dm_head" id="home">
    <devmind-home-me>
        <p class="dm_logo"><img src="../../img/logo/logo_long.svg" alt="Dev-Mind" title="Dev-Mind"></p>

        <div align="center">
            Mon blog initial <a href="http://javamind-fr.blogspot.fr/">JavaMind</a> ne sera plus maintenu. Mais les articles restent en ligne et
            le nouveau contenu sera directement disponible sur cette page.
        </div>
    </devmind-home-me>
</div>

<div id="dm_transition_cloud"></div>

<div class="dm_home_blog" id="blog">
    <devmind-home-blog>
        <div class="dm-blog--container" id="last-article">
        </div>
        <div class="dm-blog--button">
            <button onclick="blog.findMoreBlogpost()" id="more-article">Plus d'articles...</button>
        </div>
    </devmind-home-blog>
</div>

<div id="dm_transition_mountain"></div>

<div class="dm_home_formation" id="formation">
    &nbsp;
</div>

<script src="js/blog.js"></script>
<script>
  setTimeout(blog.findLastBlogpost(), 500);
</script>