<div class="dm_head" id="home">
    <devmind-header>
        <p class="dm_logo"><img src="../../img/logo/logo_long.svg" alt="Dev-Mind" title="Dev-Mind"></p>

        <div align="center">
            Mon blog initial <a href="http://javamind-fr.blogspot.fr/">JavaMind</a> est maintenant directement intégré au site Dev-Mind.
            Le but est toujours le même : écrire et partager des articles sur différents sujets qui me passionnent : le
            développement (Java, Web, ...) et différents sujets liés aux méthodes agiles.
        </div>
    </devmind-header>
</div>

<div id="dm_transition_cloud"></div>

<div class="dm_home_blog" id="blog">
    <devmind-home-blog>
        <div id="articles"></div>
    </devmind-home-blog>
</div>

<div id="dm_transition_mountain"></div>

<div class="dm_home_formation" id="formation">
    &nbsp;
</div>
