<div class="dm_head" id="home">
    <devmind-home-me>
        <p class="dm_logo"><img src="../../img/logo/logo_long.svg" alt="Dev-Mind" title="Dev-Mind"></p>

        <div>
            Mon blog initial <a href="http://javamind-fr.blogspot.fr/">JavaMind</a> ne sera plus maintenu. Mais les articles restent en ligne et
            vous retrouverez maintenant le nouveau contenu directement à l'adresse <a href="blog.html">https://www.dev-mind.fr/blog.html</a>
        </div>
    </devmind-home-me>
</div>

<div id="dm_transition_cloud"></div>

<div class="dm_home_blog" id="blog">
    <devmind-home-blog>
        <div id="last-article">
            zzz
        </div>
    </devmind-home-blog>
</div>