<div class="home">
    <div class="dm_home_me" id="home">
        <devmind-home-me>
            dev-mind
        </devmind-home-me>
    </div>

    <div id="dm_transition_cloud"></div>

    <div class="dm_home_blog" id="blog">
        <devmind-home-blog>
            boiron
        </devmind-home-blog>
    </div>

    <div id="dm_transition_mountain"></div>

    <div class="dm_home_formation" id="formation">
        <devmind-home-formation>
            iorga
        </devmind-home-formation>
    </div>

    <div id="dm_transition_hills"></div>

    <div class="dm_home_experience" id="experience">
        <devmind-home-experience>
            casino
        </devmind-home-experience>
    </div>

    <div id="dm_transition_grass"></div>

    <div class="dm_home_contact" id="contact">
        <devmind-home-contact>
            solutec
        </devmind-home-contact>
    </div>
</div>