Options Indexes FollowSymLinks MultiViews
AuthBasicProvider file
AuthUserFile /var/www/bas/site/build/dist/.htpasswd
AuthName "Restricted"
AuthType Basic
Require valid-user
Order Deny,allow
Deny from all


